h2 {
  font-size: 20px;
  color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.chat {
  margin-top: 20px;
  margin-bottom: 20px;
}
.chatTextArea {
  display: flex;
  align-items: top;
  justify-content: left;
  padding: 10px;
  width: auto;
  height: 200px;
  border-style: groove;
  border-width: 2px;
  overflow-y: scroll;
  resize: vertical;
}
.chatInput {
  margin-top: 10px;
}
.chatInputRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.chatInputDropDown {
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: blueviolet;
  background-color: white;
  height: 35px;
}
.chatInputButton {
  width: 20%;
}

.chatListReciever {
  background: hsla(297, 17%, 45%, 0.3);
  margin-bottom: 10px;
}

.chatListSender {
  margin-bottom: 10px;
}

.chatList {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chatUserToSend {
  display: flex;
  flex-direction: row;
  align-items: center;
}
