h2 {
  font-size: 20px;
  color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
h1 {
  font-size: 20px;
  color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}
.Repo {
  margin-top: 10px;
}
